<component name="libraryTable">
  <library name="springframework.build.aws.maven" type="repository">
    <properties maven-id="org.springframework.build.aws:org.springframework.build.aws.maven:3.0.0.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/org.springframework.build.aws.maven-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-httpclient-3.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.0.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-codec-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jets3t-0.7.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>